<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="page{% if page.id %} page--{{page.id}}{% endif %}">

    <div class="wrapper">
      {% include header.html %}

      <div class="site-content">
        <main class="main">
          {{ content }}
        </main>

        <aside class="aside">
          {% if page.links %}
          <nav class="page-nav">
            <div class="page-nav__title">На этой странице:</div>
            {% include page-nav.html list=page.links parent='page-nav' type='ol' %}
          </nav>
          {% endif %}

          {% if page.additional_links %}
          <nav class="page-nav">
            <div class="page-nav__title">Полезные ссылки:</div>
            {% include page-nav.html list=page.additional_links parent='page-nav' type='ol' %}
          </nav>
          {% endif %}
        </aside>
      </div>

      {% include footer.html %}

    </div>

    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
